<footer class="footer">
    <div class="footer_container">
        <div class="footer_section">
            <h3>CÔNG TY CPĐT THẾ GIỚI SỮA</h3>
            <p>MST: 0106933743</p>
            <p>Do Sở Kế Hoạch và Đầu Tư Thành Phố Hà Nội cấp ngày 12/08/2015</p>
            <p>Địa chỉ: Số 17 Ngõ 84 Phố Ngọc Khánh - Phường Giảng Võ - Quận Ba Đình - Hà Nội.</p>
            <p>Hotline: 0986777514-1900636605</p>
        
        </div>

        <div class="footer_section">
            <h3>HƯỚNG DẪN</h3>
            <a href="#">Hướng dẫn mua hàng</a>
            <a href="#">Hướng dẫn thanh toán</a>
            <a href="#">Hướng dẫn nhận hàng</a>
            <div class="social_icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-zalo"></i></a>
            </div>
        </div>

        <div class="footer_section">
            <h3>CHÍNH SÁCH</h3>
            <a href="#">Chính sách vận chuyển</a>
            <a href="#">Chính sách bảo mật thông tin</a>
            <a href="#">Chính sách đổi hàng & bảo hành</a>
            <img src="" alt="Đã thông báo Bộ Công Thương" class="bo_cong_thuong">
        </div>

        <div class="footer_section">
            <h3>VỀ THẾ GIỚI SỮA</h3>
            <a href="#">Giới thiệu Thế Giới Sữa</a>
            <a href="#">Hệ thống cửa hàng</a>
            <a href="#">Tuyển dụng</a>
            <a href="#">Liên hệ</a>
        </div>
    </div>

    <div class="footer_bottom">
        <p>© Bản quyền thuộc về thegioiSua.com</p>
    </div>
    
</footer>