
body {
  margin-top: 100px;
  background-color: #f8f9fa;
  padding-top: 500px;

}
.Two{
  border: 1px dashed #ccc;
  margin: 0 30px;
  .banner-text{
    order: 1;}
  .banner-image{
    order: 2;}
  .banner-text a{
    text-decoration: none;
  }
}

.hot-button {
  display: inline-block;
  padding: 16px 40px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom, #f95e1d, #fca01f);
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 1px;
}


@media screen and (max-width: 990px) {
  .hot-button{
    font-size: 14px;
  }
  .Two{
    display: flex;
    margin: 0 10px;
    flex-wrap: wrap;
    transform: scale(1);
    .carousel-banner{
      flex-wrap: wrap;
        .banner-text{
          order: 2;
          font-size: small;
          
        }
        .banner-image{
          order: 1;}
    }
    
  }
  .text-muted{
    display: none;
  }
  
}