.header {
    background-color: red;
    z-index: 1;

    .header_top {
    display: flex;
    margin: 0 102px;
    height: 25px;
        .header_top-list {
            justify-content:center;
            margin:14px 0 10px 0;
            list-style: none;
            .header_top-item {
                display: inline-block;
                font-size: 1rem;
                font-weight: 300;
                color: white;
                text-align: center;

                .header_top-left {
                    text-decoration: none;
                    color: white;
                    .header_top-left b {
                        font-size: 1rem;
                    }
                }
                
            }
        }
        
    }
}

.header_with-search {
    padding: 0 290px;
    height: 120px;
    background-color: rgb(254, 254, 255);
    .header_logo {
        left: 9%;
        top: 25%;
        cursor: pointer;
        .header_logo img {
            width: 188px;
            height: 35px;
        }
    }

}



.header_search {
    width: 40%;


}

.input-group{
    margin-top: 15px;
}
.header_search-input {
    height: 38px;
    border-left: none;
    border: 1px solid red;
    border-radius: 20px;
    padding: 0 54px;
    font-size: 15px;
}

.header_search-item {
    position: absolute;
    right: -3%;
    border: 1px solid red;
    border-radius: 31px;
    background-color: red;
    cursor: pointer;
    height: 38px;
    z-index: 1000;
}

.header_search-item i {
    font-size: 17px;
    color: white;
}

/* Header Icons */
.header_order {
    width: 30%;
}

.header_search-fl {
    text-decoration: none;
    display: flex;
    color: rgb(16, 15, 15);
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.header_search-fl i {
    border: 1px solid red;
    border-radius: 20px;
    padding: 5px;
    font-size: 25px;
    color: white;
    background-color: red;
    width: 50px;
}

.header_acc {
    width: 30%;
}

.header_search-acc-item {
    text-decoration: none;
    display: flex;
    color: rgb(16, 15, 15);
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.header_search-acc-item i {
    border: 1px solid red;
    border-radius: 20px;
    padding: 5px;
    font-size: 25px;
    color: white;
    background-color: red;
    width: 50px;
}

.drop_down { 
    width: 160px;
    position: absolute;
    background-color: white;
    border: 15px solid white;
    z-index: 1000;
    display: none;
    top: 100%;
    right: 1px;
}

.header_acc-list{
    position: relative;
}

.header_acc-list:hover .drop_down {
    display: block;
}

.drop_down a {
    display: block;
    text-decoration: none;
    color: rgb(255, 238, 238);
    font-size: 16px;
    padding: 15px;
    background-color: #eb4646;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    .drop_down a:hover {
        color: rgb(239, 230, 230);
        background: #0f86dc;
    }
}

.dropdown-item-logout{
    display: block;
    text-decoration: none;
    color: rgb(255, 238, 238);
    font-size: 16px;
    padding: 15px;
    border: none;
    width: 100%;
    background-color: #eb4646;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    .dropdown-item-logout:hover {
        color: rgb(239, 230, 230);
        background: #0f86dc;
    }
}


.header_cart {
    width: 10%;
    .image-cart{
        height: 80px;

    }
    .quantity{
        position: absolute;
        left: 32px;
        top: 18px;
        background-color: rgb(21, 76, 241);
        border-radius: 76%;
        color: white;
        padding: 0 5px;
        font-size: 0.8rem;
    }
}

.header_search-cart-item {
    position: relative;
    display: flex;
    text-decoration: none;
    color: rgb(16, 15, 15);
    align-items: center;
    text-align: center;
    
}
.header_search-cart-item i {
        border: 1px solid red;
        border-radius: 20px;
        padding: 5px;
        font-size: 25px;
        color: white;
        background-color: red;
        width: 40px;
    }


.drop_cart{
    background-color: white;
    position: absolute;
    min-width: 150px;
    min-height: 50px;
    border-radius: 10px;
    border: 1px solid#d7c8c8;
    display: none;
    z-index: 1000;
    .dropdown-cart{
        
        .cart-item{
            padding:0 50px;
            .image-cart{}
            .cart-item-text{
                .cart-item-name{
                    font-size: 1.2rem;
                    color: rgb(249, 10, 10);
                    font-weight: 700;
                }
                .cart-item-price{
                    font-size: 1rem;
                    color: rgb(16, 15, 15);
                }   
            }
            .cart-remove{
                padding: 5px;
                font-size: 1.3rem;
                color: rgb(16, 15, 15);
                cursor: pointer;
                transition: color 0.2s;
                background-color: #ee9d9d;
                border-radius: 10px;
            }

        }

    }

}

.drop_cart a{
    text-decoration: none;
    color: rgb(16, 15, 15);
    
}

.header_cart:hover .drop_cart {
    display: block;
}






/* Header Footer */
.header_footer {
    margin: 0 0 0 215px;
    display: flex;
    justify-content: space-between;
}

.header_footer-menu {
    position: relative;
}

.header_footer-menu a {
    display: inline-block;
    margin: 15px 0;
    padding-right: 80px;
    text-decoration: none;
    color: white;
}

.header_nav-list {
    display: flex;
    list-style-type: none;
}

.header_nav-item{
    position: relative;
    text-decoration: none;
    display: block;
    color: white;
    margin: 16px 8px 0 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

}

.header_nav-item span:hover{
    color: rgb(13, 40, 31);
}

/* Dropdown Menu */
.header_footer-menu-drop {
    width: 260px;
    color: white;
    list-style: none;
    position: relative;
    cursor: pointer;
}

.header_menu {
    background-color: rgb(255, 255, 255);
    width: 200px;
    position: absolute;
    display: none;
    top: 38px;
    left: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 2;
}

.header_menu::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    top: -25px;
}

.header_footer-menu-drop:hover .header_menu {
    display: block;
}

.header_menu-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_menu-item {
    width: 260px;
    z-index: 5;
    border-bottom: 1px solid #d7c8c8;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0;
    padding: 0;
}

.header_menu-item a {
    display: block;
    padding: 10px 15px;
    color: rgb(13, 4, 4);
    text-decoration: none;
    margin: 0;
}

.header_menu-item:hover {
    background-color: rgb(234, 7, 45);
}

.header_menu-item a:hover {
    color: rgb(255, 250, 243);
}

/* Drop sản phẩm */
.menu {
    background-color: rgb(255, 255, 255);
    width: 200px;
    position: absolute;
    display: none;
    top: 37px;
    left: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 2;
}

.menu::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    top: -25px;
}

.header_nav-item:hover .menu {
    display: block;
}

.menu-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    width: 260px;
    z-index: 5;
    border-bottom: 1px solid #d7c8c8;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.menu-item a {
    display: block;
    padding: 10px 15px;
    color: rgb(13, 4, 4);
    text-decoration: none;
    margin: 0;
}

.menu-item:hover {
    background-color: rgb(234, 7, 45);
}

.menu-item a:hover {
    color: rgb(255, 250, 243);
}

.search_left, .search_right{ display: none;}

@media (max-width: 990px) {
    .header_with-search {
        padding: 0 200px;
    
    }
    .header_top{
        .header_top-item{
                width: 100% important;
                font-size: 0.6rem !important;
        }
    }
    .header_footer{
        display: none;
    }
    
    .header_with-search {
        display: flex;
        height: auto;
        flex-direction: column;
        height: auto;
    }
    .header_logo {
        flex: 0 0 30% !important; 
        width: auto;
    }
    .header_search{
        width: 400px !important;
        margin-bottom: 10px;
        display: flex;
    }
    .header_search-list{
        display: none !important;
    }
    .search_left, .search_right{ 
        margin: 2% 20px;
        display: block;
        background-color: red;
        width: 20%;
        height:30px ;
        border-radius: 20px;
        cursor: pointer;
    }

    .search_right{
        margin-left: 30px;
    }

    .header_search-input {
        padding: 0 25px;
        font-size: 100%;
    }

    .header_search-item {
        right: -7%;}

        .input-group{
            margin-top: 0;
        }
}
@media (max-width: 450px) {
    .header_top-list,.header_top{
        justify-content: start !important;
        align-items: start !important;
    }
    .header_top-left{
        font-size: 0.9rem !important;
        }
    .header_top{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
       margin: 0 0 0 0 !important;
       justify-content : space-between;
        .header_top-list{
            margin-top: 0 !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
            flex-wrap: nowrap;
        }
    }
    .header_top-left-300,.header_top-item-450{
        display: none !important;
    }
    .header_top-item {
    margin: 0 !important; 
    flex-wrap: nowrap!important;
    }
    .header_top-left{
        padding-left: 10px !important;
        width: 100% !important;
    }

    .header_logo{
        width: 50%;
        height: 10%;
    }

    .img-fluid {
        max-width: 100%;
    }

    .header_footer{
        display: none;
    }
    
    .header_with-search{
        padding: 0;
        height: 120px;
    }   

    .header_with-search{
        width: 100%;
    }

    .product_hot{
        width: 100%;
    }
    .header_with-search{
        width: 104%;
    }
}

.header_search-overlay-item{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(11, 7, 7, 0.3);
    display: none;
    z-index: 1000;
}

.menu_list-left{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 2000;
    transform: translateX(-120%);
     margin-left: 0;
    .log{
        height: 30px;
        .log-in, .log-out{
            border: 1px solid rgb(174, 169, 169);}

        .log-in a, .log-out a{
            text-decoration: none;
            color: rgb(16, 15, 15);
            font-size: 1.2rem;
           
        
        }
    }
}

.menu_list-left-item{ 
    padding-left: 0;
   

}

.menu_list-left-item-child{
    list-style: none;
    
}

.menu_list-left-item-child-link{
    color: rgb(13, 4, 4);
    display: block;
    padding: 8px 20px;
    font-size: 1rem;
    text-decoration: none;
}

.menu-list-left-close{
    font-size: 1.4rem;
    color: rgb(16, 15, 15);
    position:   absolute;
    top: 1rem;
    right: -1.75rem;
    background-color: white;
    cursor: pointer;
    width: 40px;
    z-index: -1;
}

#search_left-input:checked ~ .header_search-overlay-item{
    display: block;
}

#search_left-input:checked ~ .menu_list-left{
    transform: translateX(0);
}

#search_left-input{
    display: none;
}

.menu_list-left-item-child:hover .menu_list-left-item-child-link{
    background-color: rgb(221, 125, 141);
}

.left_close{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



///////////////////
/// 
/// 
/// 
.carousel-banner {
  height: 100%;
  border: 1px dashed #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px 0;
}

.banner-text {
  width: 60%;
}

.banner-image {
  width: 40%;
  text-align: center;
}

.banner-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
