<div class="row d-flex justify-content-center align-items-center">
    <div class="product_column">
        <div class="product_column-list" *ngFor="let product of products">
            <div class="product_column-item">
                <a [href]="'#'">
                    <img [src]="product.images ? product.images : 'assets/default-image.jpg'" [alt]="product.name">
                </a>
            </div>
            <div class="product_column-item">
                <a [href]="'#'">{{ product.name }}</a>
            </div>
            <div class="product_column-item">
                <p>{{ product.price | currency:'VND' }}</p>
                <button style="border: none;background: no-repeat;" (click)="addToCart(product)"><i
                    class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </div>
    </div>
</div>
